@import "./font.scss";

.book {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 440px) {
    height: 100%;
    padding: 80px 12px;
    flex-direction: column;
    gap: 24px;
  }

  &--detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-subheading {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #5e6282;

      @media (max-width: 440px) {
        font-size: 16px;
      }
    }

    &-heading {
      font-family: "Volkhov", sans-serif;
      font-size: 50px;
      font-weight: 700;
      color: #14183e;

      @media (max-width: 440px) {
        font-size: 32px;
      }
    }

    &-values {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 48px;

      &-content {
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: center;
        max-width: 400px;

        &-img {
          border-radius: 12px;
        }

        &-desc {
          display: flex;
          flex-direction: column;

          &-title {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #5e6282;

            @media (max-width: 440px) {
              font-size: 14px;
            }
          }

          &-sub {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #5e6282;

            @media (max-width: 440px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &--trip {
    width: 100%;
    position: relative;

    &-decore {
      position: absolute;
      bottom: -100px;
      z-index: -1;

      @media (max-width: 440px) {
        width: 100vw;
        height: auto;
        bottom: 0;
        right: 0;
      }
    }

    &-card {
      width: fit-content;
      background-color: white;
      padding: 20px 24px;
      border-radius: 26px;
      box-shadow: 0px 1.85px 3.15px 0px #00000001;
      box-shadow: 0px 8.15px 6.52px 0px #00000002;
      box-shadow: 0px 20px 13px 0px #00000003;
      box-shadow: 0px 38.52px 25.48px 0px #00000003;
      box-shadow: 0px 64.81px 46.85px 0px #00000004;
      box-shadow: 0px 100px 80px 0px #00000005;

      &-desc {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;

        &-title {
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 500;
          color: #080809;

          @media (max-width: 440px) {
            font-size: 16px;
          }
        }

        &-date {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: #84829a;

          @media (max-width: 440px) {
            font-size: 14px;
          }
        }

        &-buttons {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: start;

          @media (max-width: 440px) {
            font-size: 14px;
          }

          button {
            border-radius: 50%;
          }
        }

        &-going {
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: #84829a;

          @media (max-width: 440px) {
            font-size: 14px;
          }

          &-detail {
            display: flex;
            gap: 16px;
          }
        }
      }
    }

    &-status {
      position: absolute;
      background-color: white;
      width: 265px;
      border-radius: 18px;
      right: 100px;
      bottom: 100px;
      padding: 20px;
      display: flex;
      align-items: start;
      gap: 12px;
      box-shadow: 0px 1.85px 3.15px 0px #00000001;
      box-shadow: 0px 8.15px 6.52px 0px #00000002;
      box-shadow: 0px 20px 13px 0px #00000003;
      box-shadow: 0px 38.52px 25.48px 0px #00000003;
      box-shadow: 0px 64.81px 46.85px 0px #00000004;
      box-shadow: 0px 100px 80px 0px #00000005;

      @media (max-width: 440px) {
        right: 0;
        bottom: 65px;
        width: 200px;
      }

      img {
        border-radius: 100%;
      }

      &-detail {
        width: 100%;

        &-title {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #84829a;
          letter-spacing: -3.5%;

          @media (max-width: 440px) {
            font-size: 12px;
          }
        }

        &-desc {
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 500;
          color: #080809;
          letter-spacing: -1.5%;

          @media (max-width: 440px) {
            font-size: 16px;
          }
        }

        &-percentage {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #080809;
          letter-spacing: -5.5%;
          margin-top: 16px;

          @media (max-width: 440px) {
            font-size: 12px;
          }

          span {
            color: #8a79df;
          }
        }

        .progress {
          margin-top: 8px;
          height: 5px;

          .progress-bar {
            background-color: #8a79df;
          }
        }
      }
    }
  }
}
